<header class="header">
  <div class="header__menu">
    <div class="header__menu-close">
    </div>
    <div class="header__menu-nav">
      <ul class="header__menu-list">
        <li>
          <a class="header__menu-link" href="catalog.html">catalog</a>
        </li>
        <li>
          <a class="header__menu-link" href="blog.html">blog</a>
        </li>
        <li>
          <a class="header__menu-link" href="about.html">about</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__top">
    <div class="burger" aria-label="burger menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <a class="header__logo" href="/">
      <img src="/src/logo/logo.png" alt="logo">
    </a>

    <div class="header__icons">
      <a href="#!">
        <span class="icon-search"></span>
      </a>
      <a href="#!">
        <span class="icon-shopping-bag"></span>
      </a>
    </div>
  </div>

  <nav class="header__nav">
    <ul class="header__list">
      <li><a class="header__link" href="catalog.html">catalog</a></li>
      <li><a class="header__link" href="blog.html">blog</a></li>
      <li><a class="header__link" href="about.html">about</a></li>
    </ul>
  </nav>
</header>