@use '/src/sass/base/variables.scss' as *;

.header {
  padding-top: 50px;

  &__menu {
    padding: 50px 10px;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    transition: all .3s;
    opacity: 0;

    &--active {
      opacity: 1;
      transform: translateX(100%);
    }

    &-close {
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 20px;
        background-color: black;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {  
        transform: rotate(-45deg);
      }
    }
  }
  &__menu-nav {
      margin-top: 45px;
      padding-left: 14px;
      text-align: left;
    }
    
    &__menu-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    
    &__menu-link {
      padding: 5px 0;
      display: block;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: $color-dark;
    }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  &__icons {
    display: flex;
    gap: 15px;

    a {
      display: block;
      color: $color-dark;

      span {
        width: 20px;
        height: 20px;

        font-size: 20px;

        &::before {
          margin: 0;
        }
      }
    }
  }

  &__nav {
    display: none;
  }
}

.burger {
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  span {
    width: 20px;
    height: 1px;
    background-color: $color-dark;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu {
      display: none;
    }

    &__nav {
      display: block;
      margin-top: 20px;
    }

    &__list {
      display: flex;
      column-gap: 30px;
      justify-content: center;
    }

    &__link {
      font-size: 20px;
      text-transform: uppercase;
      transition: all .3s ease-in;

      @media (any-hover: hover) {
        &:hover {
          opacity: .5;
        }
      }
    }
  }

  .burger {
    visibility: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding-top: 40px;

    &__nav {
      margin-top: 36px;
    }

    &__list {
      gap: 60px;
    }

    &__logo {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}