@use '/src/sass/base/variables.scss' as *;

.promo {
  padding-bottom: 60px;
  text-align: center;
  position: relative;

  &__potter {
    display: none;
  }

  &__wrapper {
    margin-top: 40px;
  }

  &__title {
    max-width: 330px;
    margin: 0 auto;
  }

  &__cta {
    margin-top: 40px;
  }

  &__img {
    margin: 0 auto 18px;
    width: 270px;
    height: 377px;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__btn {
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    &__wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      column-gap: 90px;
    }

    &__title {
      text-align: left;
      margin: 0;
      margin-bottom: 78px;
    }

    &__cta {
      margin-top: 0;
    }

    &__img {
      width: 230px;
      height: 321px;
      margin: 0;
      margin-bottom: 18px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__potter {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: clamp(450px, 37.5vw, 640px);
      height: 633px;
      object-fit: cover;
    }

    &__wrapper {
      gap: 10px;
    }
  }

  @media screen and (min-width: 1920px) {
    padding-top: 40px;

    &__potter {
      width: 640px;
      height: 900px;
    }

    &__wrapper {
      margin-top: 80px;
      gap: 30px;
    }

    &__title {
      max-width: 438px;
      margin-bottom: 110px;
    }

    &__img {
      width: 330px;
      height: 460px;
      margin-bottom: 50px;
    }
  }
}