@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.btn-default {
  @include button;
  width: 230px;
  height: 50px;
  font-size: 20px;

  @media screen and (min-width: 1200px) {
    transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;

   &:hover {
    color: $color-light;
    background-color: $color-dark;
   } 

   &:active {
    color: $color-dark;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
   }
  }

  @media screen and (min-width: 1920px) {
    width: 330px;
    height: 60px;
  }
}

.btn-send {
  @include button;
  width: 220px;
  height: 40px;
  font-size: 16px;

  &:focus {
    border: 1px solid transparent;
    outline: 1px solid $color-ceramic;
  }

  &:disabled {
    border: 1px solid $color-ui-disabled;
    color: $color-ui-disabled;
  }
  
  @media screen and (min-width: 1200px) {
    &:hover {
      color: $color-ceramic;
      border: 1px solid $color-ceramic;
      outline: 1px solid transparent;
    }
    
    &:active {
      outline: 1px solid transparent;
      color: $color-dark;
      border: 1px solid $color-dark;
    }
  }
}